@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Work+Sans:wght@400;500&display=swap");

* { 
  box-sizing: border-box;
  
}

.App {
  /* text-align: center; */
  background-color: #1B262C;
  
}

main { 
  height: 100vh;
}








